# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
from selenium.webdriver.common.keys import Keys  

import time

import warnings
warnings.filterwarnings('ignore')

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH, options = opciones)       # abre una venta una de chrome

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
names = [e.text for e in driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")]

names

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein',
 'jxxghp',
 'Paul Razvan Berg',
 'Florian Roth',
 'MichaIng',
 'Vectorized',
 'Lianmin Zheng',
 'X.',
 'Norbert de Langen',
 'Stefan Prodan',
 'Jaco',
 'François Chollet',
 'Michał Lytek',
 'Lukas Taegert-Atkinson',
 'Ben McCann',
 'Antonio Cheong',
 'Maarten Grootendorst',
 'Leon',
 'syuilo',
 'Abhinav Gupta',
 'Yair Morgenstern']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [8]:
driver=webdriver.Chrome(PATH, options = opciones) 
driver.get(url2)

In [9]:
repos = [e.text for e in driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")]

repos

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith',
 'zhayujie / chatgpt-on-wechat',
 'LeagueOfPoro / CapsuleFarmerEvolved',
 'microsoft / BioGPT',
 'BlinkDL / ChatRWKV',
 'AIGCT / EASYChatGPT',
 'mmz-001 / knowledge_gpt',
 'jxxghp / nas-tools',
 'tiangolo / fastapi',
 'TomSchimansky / CustomTkinter',
 'Rudrabha / Wav2Lip',
 'public-apis / public-apis',
 'biancangming / wtv',
 'chidiwilliams / buzz',
 'bellingcat / octosuite',
 'approximatelabs / sketch',
 'yerfor / GeneFace',
 'uptrain-ai / uptrain',
 'facebookresearch / metaseq',
 'lss233 / chatgpt-mirai-qq-bot',
 'ansible / ansible']

#### Display all the image links from Walt Disney wikipedia page

In [10]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [11]:
driver.get(url3)

In [12]:
[e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, "img")]

['https://en.wikipedia.org/static/images/icons/wikipedia.png',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [13]:
# This is the url you will scrape in this exercise
url4 ='https://en.wikipedia.org/wiki/Python'

In [14]:
driver.get(url4)

In [15]:
# He intentado hacerlo sobre esta otra url, pero el kernel falla al iterar tantos elementos.

#driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/ul[2]/li[1]/a').click()

In [16]:
all_a = driver.find_elements(By.TAG_NAME, 'a')
driver.find_elements(By.TAG_NAME, 'a')[0].get_attribute('href')

'https://en.wikipedia.org/wiki/Python#bodyContent'

In [17]:
len(all_a)

161

In [18]:
links = []

for i in range(len(all_a)):
    links.append(driver.find_elements(By.TAG_NAME, 'a')[i].get_attribute('href'))
    
links[:10]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/wiki/Main_Page']

In [19]:
links = [driver.find_elements(By.TAG_NAME, 'a')[i].get_attribute('href') for i in range(len(driver.find_elements(By.TAG_NAME, 'a')))]

In [20]:
links[:10]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/wiki/Main_Page']

#### Number of Titles that have changed in the United States Code since its last release point

In [21]:
# This is the url you will scrape in this exercise
url5 = 'http://uscode.house.gov/download/download.shtml'

In [22]:
driver.get(url5)

In [23]:
driver.find_elements(By.CLASS_NAME, "usctitlechanged")[1].text

'Title 6 - Domestic Security'

In [24]:
titles = [e.text for e in driver.find_elements(By.CLASS_NAME, "usctitlechanged")]

In [25]:
len(titles)

14

#### A Python list with the top ten FBI's Most Wanted names

In [26]:
# This is the url you will scrape in this exercise
url6 = 'https://www.fbi.gov/wanted/topten'

In [27]:
driver.get(url6)

In [28]:
driver.find_elements(By.XPATH, '//h3[@class="title"]')[1].text

'RUJA IGNATOVA'

In [29]:
driver.find_elements(By.CLASS_NAME, 'title')[2].text

'RUJA IGNATOVA'

In [30]:
topten = [e.text for e in driver.find_elements(By.CLASS_NAME, "title")]

In [31]:
topten[1:]

['YULAN ADONAY ARCHAGA CARIAS',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [32]:
# This is the url you will scrape in this exercise
url7 = 'https://www.emsc-csem.org/Earthquake/'

In [33]:
driver.get(url7)

In [34]:
cols = [e.text for e in driver.find_elements(By.TAG_NAME, 'th')]

In [35]:
cols = cols[1:]

In [36]:
cols = cols[:-1]

In [37]:
filas = [e.text for e in driver.find_elements(By.TAG_NAME, 'tr')]

In [38]:
filas = filas[14:35]

In [39]:
filas

['2023-02-08   17:12:52.5\n10min ago\n38.09  N   37.40  E   10 2.7  CENTRAL TURKEY',
 'F\n2023-02-08   17:06:39.4\n16min ago\n38.87  N   37.38  E   2 3.6  CENTRAL TURKEY',
 '2023-02-08   17:03:58.4\n19min ago\n37.87  N   36.72  E   8 2.9  CENTRAL TURKEY',
 '2023-02-08   17:02:32.3\n20min ago\n35.47  N   3.66  W   4 2.4  STRAIT OF GIBRALTAR',
 '2023-02-08   17:01:12.6\n21min ago\n38.09  N   37.17  E   8 3.1  CENTRAL TURKEY',
 '1\nII\n2023-02-08   16:59:20.0\n23min ago\n37.10  N   36.74  E   11 3.5  CENTRAL TURKEY',
 '8\nIII\n2023-02-08   16:55:39.5\n27min ago\n38.10  N   37.20  E   2 4.2  CENTRAL TURKEY',
 '2023-02-08   16:44:28.2\n38min ago\n37.97  N   38.25  E   5 2.7  EASTERN TURKEY',
 'F\n2023-02-08   16:40:33.2\n42min ago\n37.84  N   36.60  E   16 3.2  CENTRAL TURKEY',
 '1\nF\n2023-02-08   16:29:07.4\n54min ago\n37.74  N   37.40  E   17 2.7  CENTRAL TURKEY',
 '2023-02-08   16:21:19.8\n1hr 01min ago\n19.15  N   155.48  W   33 2.0  ISLAND OF HAWAII, HAWAII',
 '2023-02-08   16:18:17.6\n1hr 04min ago\n38.00  N   37.51  E   5 2.8  CENTRAL TURKEY',
 'F\n2023-02-08   16:15:05.3\n1hr 08min ago\n37.55  N   37.34  E   14 2.9  CENTRAL TURKEY',
 '2023-02-08   16:12:04.2\n1hr 11min ago\n38.10  N   36.69  E   9 2.6  CENTRAL TURKEY',
 'F\n2023-02-08   16:01:57.0\n1hr 21min ago\n4.92  S   122.66  E   10 4.1  SULAWESI, INDONESIA',
 '2023-02-08   16:01:04.0\n1hr 22min ago\n38.15  N   38.61  E   2 2.9  EASTERN TURKEY',
 '2023-02-08   15:57:02.0\n1hr 26min ago\n5.69  S   154.36  E   117 5.0  BOUGAINVILLE REGION, P.N.G.',
 '1\nIV\n2023-02-08   15:56:50.9\n1hr 26min ago\n37.32  N   37.07  E   5 3.1  CENTRAL TURKEY',
 'F\n2023-02-08   15:51:45.0\n1hr 31min ago\n2.52  S   140.68  E   10 3.9  NEAR N COAST OF PAPUA, INDONESIA',
 '11\nIII\n2023-02-08   15:49:59.4\n1hr 33min ago\n37.84  N   36.61  E   5 4.3  CENTRAL TURKEY',
 '7\nIII\n2023-02-08   15:42:47.8\n1hr 40min ago\n37.05  N   36.63  E   11 3.2  CENTRAL TURKEY']

In [40]:
rows = driver.find_elements(By.TAG_NAME, 'tr')[14:35]

In [41]:
datetime = [e.text for e in driver.find_elements(By.CLASS_NAME, 'tabev6')]

In [42]:
datetime = datetime[:20]
datetime

['2023-02-08   17:12:52.5\n10min ago',
 '2023-02-08   17:06:39.4\n16min ago',
 '2023-02-08   17:03:58.4\n19min ago',
 '2023-02-08   17:02:32.3\n20min ago',
 '2023-02-08   17:01:12.6\n21min ago',
 '2023-02-08   16:59:20.0\n23min ago',
 '2023-02-08   16:55:39.5\n27min ago',
 '2023-02-08   16:44:28.2\n38min ago',
 '2023-02-08   16:40:33.2\n42min ago',
 '2023-02-08   16:29:07.4\n54min ago',
 '2023-02-08   16:21:19.8\n1hr 01min ago',
 '2023-02-08   16:18:17.6\n1hr 04min ago',
 '2023-02-08   16:15:05.3\n1hr 08min ago',
 '2023-02-08   16:12:04.2\n1hr 11min ago',
 '2023-02-08   16:01:57.0\n1hr 21min ago',
 '2023-02-08   16:01:04.0\n1hr 22min ago',
 '2023-02-08   15:57:02.0\n1hr 26min ago',
 '2023-02-08   15:56:50.9\n1hr 26min ago',
 '2023-02-08   15:51:45.0\n1hr 31min ago',
 '2023-02-08   15:49:59.4\n1hr 33min ago']

In [43]:
driver.find_elements(By.CLASS_NAME, 'tabev1')[0].text

'38.09 '

In [44]:
latitude = [f.find_elements(By.CLASS_NAME, 'tabev1')[0].text.strip() for f in rows]

In [45]:
longitude = [f.find_elements(By.CLASS_NAME, 'tabev1')[1].text.strip() for f in rows]

In [46]:
depth = [driver.find_elements(By.CLASS_NAME, 'tabev3')[i].text for i in range(len(rows))]

In [47]:
driver.find_elements(By.CLASS_NAME, 'tabev2')[2].text

'2.7'

In [48]:
data=[e.text for e in driver.find_elements(By.CLASS_NAME, 'tabev2')]

mag = data[2::3]

In [49]:
mag = mag[:20]

In [50]:
region = [e.text for e in driver.find_elements(By.CLASS_NAME, 'tb_region')]

In [51]:
region = region[:20]

In [52]:
latitude = latitude[:-1]
longitude = longitude[:-1]
depth = depth[:-1]

In [53]:
df = pd.DataFrame(columns=cols)

df[cols[0]] = datetime

df[cols[1]] = latitude 

df[cols[2]] = longitude

df[cols[3]] = depth

df[cols[4]] = mag

df[cols[5]] = region

In [55]:
df

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+]
0,2023-02-08 17:12:52.5\n10min ago,38.09,37.40,10,2.7,CENTRAL TURKEY
1,2023-02-08 17:06:39.4\n16min ago,38.87,37.38,2,3.6,CENTRAL TURKEY
2,2023-02-08 17:03:58.4\n19min ago,37.87,36.72,8,2.9,CENTRAL TURKEY
3,2023-02-08 17:02:32.3\n20min ago,35.47,3.66,4,2.4,STRAIT OF GIBRALTAR
4,2023-02-08 17:01:12.6\n21min ago,38.09,37.17,8,3.1,CENTRAL TURKEY
5,2023-02-08 16:59:20.0\n23min ago,37.10,36.74,11,3.5,CENTRAL TURKEY
6,2023-02-08 16:55:39.5\n27min ago,38.10,37.20,2,4.2,CENTRAL TURKEY
7,2023-02-08 16:44:28.2\n38min ago,37.97,38.25,5,2.7,EASTERN TURKEY
8,2023-02-08 16:40:33.2\n42min ago,37.84,36.60,16,3.2,CENTRAL TURKEY
9,2023-02-08 16:29:07.4\n54min ago,37.74,37.40,17,2.7,CENTRAL TURKEY
10,2023-02-08 16:21:19.8\n1hr 01min ago,19.15,155.48,33,2.0,"ISLAND OF HAWAII, HAWAII"
11,2023-02-08 16:18:17.6\n1hr 04min ago,38.00,37.51,5,2.8,CENTRAL TURKEY
12,2023-02-08 16:15:05.3\n1hr 08min ago,37.55,37.34,14,2.9,CENTRAL TURKEY
13,2023-02-08 16:12:04.2\n1hr 11min ago,38.10,36.69,9,2.6,CENTRAL TURKEY
14,2023-02-08 16:01:57.0\n1hr 21min ago,4.92,122.66,10,4.1,"SULAWESI, INDONESIA"
15,2023-02-08 16:01:04.0\n1hr 22min ago,38.15,38.61,2,2.9,EASTERN TURKEY
16,2023-02-08 15:57:02.0\n1hr 26min ago,5.69,154.36,117,5.0,"BOUGAINVILLE REGION, P.N.G."
17,2023-02-08 15:56:50.9\n1hr 26min ago,37.32,37.07,5,3.1,CENTRAL TURKEY
18,2023-02-08 15:51:45.0\n1hr 31min ago,2.52,140.68,10,3.9,"NEAR N COAST OF PAPUA, INDONESIA"
19,2023-02-08 15:49:59.4\n1hr 33min ago,37.84,36.61,5,4.3,CENTRAL TURKEY

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url11 = 'https://twitter.com/ManuelZerpadl'

In [ ]:
driver.get(url11)

In [191]:
driver.find_elements(By.XPATH, '//div[@dir="ltr"]')[8].text

'21.7K Tweets'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [169]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url11 = 'https://twitter.com/ManuelZerpadl'

In [170]:
driver.get(url11)

In [179]:
driver.find_elements(By.XPATH, '//span[@class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"]')[14].text

'694'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [56]:
# This is the url you will scrape in this exercise
url8 = 'https://www.wikipedia.org/'

In [57]:
driver.get(url8)

In [75]:
langs = driver.find_elements(By.XPATH, '//strong')[1:11]
len(langs)

10

In [76]:
arts = driver.find_elements(By.XPATH, '//small')[:10]

In [77]:
keys = []
for e in langs:
    keys.append(e.text)
    
values = []
for e in arts: 
    values.append(e.text)

In [78]:
diccio = dict(zip(keys, values))
diccio

{'English': '6 606 000+ articles',
 'Русский': '1 887 000+ статей',
 '日本語': '1 359 000+ 記事',
 'Deutsch': '2 764 000+ Artikel',
 'Français': '2 488 000+ articles',
 'Español': '1 833 000+ artículos',
 'Italiano': '1 792 000+ voci',
 '中文': '1 331 000+ 条目 / 條目',
 'فارسی': '947 000+ مقاله',
 'Polski': '1 552 000+ haseł'}

#### A list with the different kind of datasets available in data.gov.uk

In [79]:
# This is the url you will scrape in this exercise
url9 = 'https://data.gov.uk/'

In [80]:
driver.get(url9)

In [ ]:
#h3 class="govuk-heading-s dgu-topics__heading"

In [87]:
datasets = driver.find_elements(By.XPATH, '//h3[@class="govuk-heading-s dgu-topics__heading"]')

In [90]:
lst_ds = []
for e in datasets:
    lst_ds.append(e.text)

lst_ds

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [92]:
# This is the url you will scrape in this exercise
url10 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [93]:
driver.get(url10)

In [105]:
cols_raw = driver.find_elements(By.XPATH, '//th[@class="headerSort"]')[:4]

In [106]:
cols = [e.text for e in cols_raw]
cols

['Language', 'Native speakers\n(millions)', 'Language family', 'Branch']

In [123]:
lan_rows = driver.find_elements(By.XPATH, '//a[@class="mw-redirect"]')[7:17]

In [124]:
langs = [e.text for e in lan_rows]
langs

['Mandarin Chinese',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Yue Chinese',
 'Vietnamese']

In [148]:
driver.find_elements(By.XPATH, '//td')[1].text
driver.find_elements(By.XPATH, '//td')[5].text

'475'

In [153]:
ns_rows = driver.find_elements(By.XPATH, '//td')[1:38:4]

In [154]:
ns = [e.text for e in ns_rows]
ns

['920', '475', '373', '344', '234', '232', '154', '125', '85.2', '84.6']

In [155]:
lf_rows = driver.find_elements(By.XPATH, '//td')[2:39:4]

In [158]:
lf = [e for e in lf_rows]
lf

['Sino-Tibetan',
 'Indo-European',
 'Indo-European',
 'Indo-European',
 'Indo-European',
 'Indo-European',
 'Indo-European',
 'Japonic',
 'Sino-Tibetan',
 'Austroasiatic']

In [159]:
bran_rows = driver.find_elements(By.XPATH, '//td')[3:40:4]

In [161]:
bran = [e.text for e in bran_rows]
bran

['Sinitic',
 'Romance',
 'Germanic',
 'Indo-Aryan',
 'Indo-Aryan',
 'Romance',
 'Balto-Slavic',
 'Japanese',
 'Sinitic',
 'Vietic']

In [163]:
df = pd.DataFrame(columns=cols)
df

Empty DataFrame
Columns: [Language, Native speakers
(millions), Language family, Branch]
Index: []

In [166]:
df.Language = langs
df['Native speakers\n(millions)'] = ns
df['Language family'] = lf
df.Branch = bran

In [167]:
df

           Language Native speakers\n(millions) Language family        Branch
0  Mandarin Chinese                         920    Sino-Tibetan       Sinitic
1           Spanish                         475   Indo-European       Romance
2           English                         373   Indo-European      Germanic
3             Hindi                         344   Indo-European    Indo-Aryan
4           Bengali                         234   Indo-European    Indo-Aryan
5        Portuguese                         232   Indo-European       Romance
6           Russian                         154   Indo-European  Balto-Slavic
7          Japanese                         125         Japonic      Japanese
8       Yue Chinese                        85.2    Sino-Tibetan       Sinitic
9        Vietnamese                        84.6   Austroasiatic        Vietic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url11 = 'https://twitter.com/ManuelZerpadl'

In [ ]:
driver.get(url11)

In [215]:
driver.find_elements(By.XPATH,'//span[@class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"]')[23].text

'Será que estoy feliz tan temprano porque ya lloré?'

In [224]:
driver.find_elements(By.XPATH,'//span[@class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"]')[30].text

'Bebo se puso futbolero y me llenó el tl de puro intenso'

In [235]:
tweets = driver.find_elements(By.XPATH,'//span[@class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"]')[23:43:7]

In [236]:
[e.text for e in tweets]

['Será que estoy feliz tan temprano porque ya lloré?',
 'Bebo se puso futbolero y me llenó el tl de puro intenso',
 'Encontré tu pintura de uñas']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [238]:
# This is the url you will scrape in this exercise 
url12 = 'https://www.imdb.com/chart/top'

In [239]:
driver.get(url12)

In [240]:
cols = ['Movie', 'Release', 'Director', 'Stars']

In [268]:
driver.find_elements(By.XPATH, '//td[@class="titleColumn"]')[0].text

'1. The Shawshank Redemption (1994)'

In [264]:
pelis = [" ".join(driver.find_elements(By.XPATH, '//td[@class="titleColumn"]')[i].text.split()[1:-1]) for i in range(len(driver.find_elements(By.XPATH, '//td[@class="titleColumn"]')[:20]))]

In [265]:
pelis

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Good, the Bad and the Ugly',
 'Forrest Gump',
 'Fight Club',
 'The Lord of the Rings: The Two Towers',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Se7en',
 'Seven Samurai']

In [273]:
re_years = driver.find_elements(By.XPATH, '//span[@class="secondaryInfo"]')[:20]

In [274]:
year = [e.text for e in re_years]
year

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)',
 '(1994)',
 '(1999)',
 '(2002)',
 '(2010)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1995)',
 '(1954)']

In [279]:
stars_ = driver.find_elements(By.XPATH, '//strong')[:20]

In [280]:
stars = [e.text for e in stars_]
stars

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6']

In [317]:
dirs = driver.find_elements(By.XPATH, '//td[@class="titleColumn"]//a')[:20] #.get_attribute("title")

In [323]:
dirs[0].get_attribute('title').split()[:2]

['Frank', 'Darabont']

In [324]:
dires = [" ".join(dirs[i].get_attribute('title').split()[:2]) for i in range(len(dirs))]

In [325]:
dires

['Frank Darabont',
 'Francis Ford',
 'Christopher Nolan',
 'Francis Ford',
 'Sidney Lumet',
 'Steven Spielberg',
 'Peter Jackson',
 'Quentin Tarantino',
 'Peter Jackson',
 'Sergio Leone',
 'Robert Zemeckis',
 'David Fincher',
 'Peter Jackson',
 'Christopher Nolan',
 'Irvin Kershner',
 'Lana Wachowski',
 'Martin Scorsese',
 'Milos Forman',
 'David Fincher',
 'Akira Kurosawa']

In [326]:
df = pd.DataFrame(columns = cols)

df.Movie = pelis
df.Release = year
df.Director = dires
df.Stars = stars

df

,Movie,Release,Director,Stars
0,The Shawshank Redemption,(1994),Frank Darabont,9.2
1,The Godfather,(1972),Francis Ford,9.2
2,The Dark Knight,(2008),Christopher Nolan,9.0
3,The Godfather Part II,(1974),Francis Ford,9.0
4,12 Angry Men,(1957),Sidney Lumet,9.0
5,Schindler's List,(1993),Steven Spielberg,8.9
6,The Lord of the Rings: The Return of the King,(2003),Peter Jackson,8.9
7,Pulp Fiction,(1994),Quentin Tarantino,8.8
8,The Lord of the Rings: The Fellowship of the Ring,(2001),Peter Jackson,8.8
9,"The Good, the Bad and the Ugly",(1966),Sergio Leone,8.8
10,Forrest Gump,(1994),Robert Zemeckis,8.8
11,Fight Club,(1999),David Fincher,8.7
12,The Lord of the Rings: The Two Towers,(2002),Peter Jackson,8.7
13,Inception,(2010),Christopher Nolan,8.7
14,Star Wars: Episode V - The Empire Strikes Back,(1980),Irvin Kershner,8.7
15,The Matrix,(1999),Lana Wachowski,8.7
16,Goodfellas,(1990),Martin Scorsese,8.7
17,One Flew Over the Cuckoo's Nest,(1975),Milos Forman,8.6
18,Se7en,(1995),David Fincher,8.6
19,Seven Samurai,(1954),Akira Kurosawa,8.6

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code